body {
  margin: unset;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #56AB2E;
  background: linear-gradient(to right, #56ab2f, #a8e063);
  text-align: center;
}

.field-card {
  max-height: 450px;
  max-width: 275px;
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  background: #fff;
  padding: 5px;
  border-radius: 10px;
}
