.game-card-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow-y: auto;
  height: 455px;
  width: 288px;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  color: #fff;
  background: #253e18;
  border-radius: 1em;
}

.field-card {
  justify-content: space-between;
}

.field-card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
