.cultivar-bar {
  display: flex;
  margin-top: 5px;
}

.cultivar-bar-option {
  width: unset;
}

.harvest-body {
  justify-content: space-between;
  align-items: unset;
}

.harvest-comment {
  font-size: 45px;
}

.harvest-description-label {
  max-width: 80%;
  text-align: left;
}

.harvest-description-value {
  margin-bottom: 5px;
  text-align: right;
}

.positive {
  font-weight: bold;
  color: #60ea6c;
}

.negative {
  font-weight: bold;
  color: #ff6250;
}

.harvest-value-final {
  width: 100%;
  font-size: 45px;
  text-align: right;
}

.sprite-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprite-wrapper img {
  position: relative;
  image-rendering: pixelated;
}
