.cultivar-bar {
  display: flex;
  margin-top: 5px;
}

.cultivar-bar-option {
  width: unset;
}

.harvest-body {
  justify-content: space-between;
  align-items: unset;
}

.harvest-comment {
  font-size: 45px;
}

.harvest-description-label {
  max-width: 80%;
  text-align: left;
}

.harvest-description-value {
  margin-bottom: 5px;
  text-align: right;
}

.positive {
  font-weight: bold;
  color: #60ea6c;
}

.negative {
  font-weight: bold;
  color: #ff6250;
}

.harvest-value-final {
  width: 100%;
  font-size: 45px;
  text-align: right;
}

.sprite-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprite-wrapper img {
  position: relative;
  image-rendering: pixelated;
}

.inventory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  margin-top: 0.5em;
}

.inventory-slot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10.25em;
  height: 6.5em;
  margin-bottom: 0.35em;
  font-size: 0.8em;
  border: 1px solid #fff;
  border-radius: 0.25em;
}

.inventory-slot-row {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.inventory-slot-column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0.25em;
}

.inventory-icon-wrapper {
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventory-icon-wrapper img {
  width: 34px;
  top: -5px;
  image-rendering: pixelated;
}

.inventory-value {
  width: 100%;
  background: #fff;
  color: #353546;
  font-size: 1.2em;
  text-shadow: none;
}
