.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 2em;
  padding: 0 1em;
  background: #353546;
  color: #fff;
}

.header-spacer {
  width: 20px;
}
