.modal-container {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  z-index: 200;
  max-width: 50%;
  max-height: 50%;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: .06em;
  height: 3em;
  background: #63638c;
  color: #fff;
  border-radius: 0.5em 0.5em 0 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: #fff;
  border-radius: 0 0 0.5em 0.5em;
  text-shadow: none;
}

.modal-background {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  background: #101b0a;
}

.modal-banner-large.modal {
  width: 100%;
  max-height: unset;
  max-width: unset;
  background: linear-gradient(to bottom, #7476ae, #a68e88);;
}

.modal-banner-large .modal-header {
  flex-direction: column;
  height: unset;
  background: unset;
  color: unset;
  border-radius: unset;
}

.modal-banner-large h2 {
  margin-block-end: unset;
  font-size: 1.6em;
  font-weight: bolder;
  letter-spacing: .06em;
  color: #fff;
  text-shadow: 0 2px 1px #000;
}

.modal-banner-large .subtitle {
  margin-top: 0.5em;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  background: #fff;
  text-shadow: none;
}

.modal-banner-large .modal-body {
  align-items: center;
  background: unset;
  color: unset;
  border-radius: unset;
}

.modal-banner-large button {
  width: unset;
  padding: 1em 3em;
  background: #fff;
  box-shadow: 0 0 3px 0px #00000070
}

.modal-banner-large p {
  max-width: 75%;
}
