.option-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
}

.seed-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 108px;
  max-width: 108px;
  padding: 5px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.seed-option.selected {
  background-color: rgba(0, 0, 0, 0.4);
}
.seed-option.inactive {
  opacity: 0.4;
}

.seed-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.seed-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  background: #000;
  border-radius: 50%;
}

.seed-value-container {
  display: flex;
  justify-content: space-between;
}

.seed-select-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.seed-detail-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.seed-detail-line {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 5px;
}

.seed-detail-description {
  margin-left: 5px;
}

.seed-detail-title {
  font-style: italic;
}
