<div ng-controller="LoginCtrl">
<script type="text/ng-template" id="loginModalContent.html">
	<div class="modal-header nsDarkBG">
		<h3 class="modal-title nsBright">Log In:</h3>
	</div>
	<form ng-submit="ok()">
		<div class="modal-body nsMediumBG">
			Existing Users:
			<ul>
				<li ng-repeat="nsUser in nsUsers">
					{{ nsUser.username }}
				</li>
			</ul>
		
			<div class="form-group">
				<label>Username:</label>
				<input type="text" class="form-control" name="oMobility" ng-model="nsEnteredUser">
			</div>
			<div class="form-group">
				<label>Password:</label>
				<input type="password" class="form-control" name="oMobility" 
				ng-model="nsEnteredPassword" disabled>
			</div>
			
			<div>Message: {{ nsMessage }}</div>
			<br>
			
			<input type="button" id="distButton" value="Username as New User" 
				class="btn btn-success" ng-click="newUser()">
		
		</div>
		<div class="modal-footer nsDarkBG">
			<input type="submit" id="okButton" value="OK" class="btn btn-success nsMenuButton">
		</div>
	
	</form>
</script>
</div>