<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>New Summer</title>
	<!-- Include CSS and Libraries -->
	<script type="text/javascript" src="static/vendor/jquery-3.2.1.js">
	</script>
	<script type="text/javascript" src="static/vendor/pixi.js">
	</script>
	<link rel="stylesheet" href="static/css/style.css">
<!-- 	<link rel="shortcut icon" href="static/img/shortcut-icon.jpg"> -->
	
</head>
<body>
	
	<script type="text/javascript" src="static/bundle.js">
	</script>

</body>
</html>